# Ambiente virtual
venv/
.env
*.env

# Bytecode do Python
__pycache__/
*.py[cod]
*$py.class

# Arquivos do Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# Arquivos de migração
**/migrations/*.py
**/migrations/*.pyc
!**/migrations/__init__.py

# IDEs e editores
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Testes
.coverage
htmlcov/
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Docker
*.pid
*.sock

# Node (se estiver usando npm ou yarn para front)
node_modules/

# Arquivos do sistema
.DS_Store
Thumbs.db
